body{
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  box-sizing: border-box;
  background-image: url(assets/cowimage.jpeg);
   background-color: #1e2f6e;
}
/* TITLE */
#title{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:0px 0px 10px rgb(150, 179, 169);
  background-color: rgb(25, 49, 41);
  color: white;
  height: 60px;
  margin-top: 0px;

}