body{
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  box-sizing: border-box;
  background-image: url(assets/cowimage.jpeg);
   background-color: #1e2f6e;
}

/* HEADINGS*/
#heading{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:1px 1px 10px gray;
  background-color: rgb(25, 49, 41);
  color: white;
  height: 80px;
  margin-top: 0px;

}
/* OUTPUT */
.output{
  overflow: auto;
  width: 50%;
  box-shadow:0px 0px 10px rgb(150, 179, 169);
  background-color: rgb(25, 49, 41);
  border-radius: 4px;
  font-size: 16px;
  height: 550px;
  
}
#output-pro{
  text-align: center;
}
#output-data{
  padding: 0px 20px;
}
.milk-Produce{
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center; 
}

/* FORM */

/* lebels and inputs */

.data-input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-right: 20px;
  box-shadow: 0px 0px 8px darkgray;
  border-radius: 4px;
  font-size: 16px;
     
}
.data-input   #sheds{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  
}
.data-input > form{
  width: 100%;
  padding: 20px;
  
}
/* Button */
.form > button{
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
}
form > div > input[type="number"]{
  height: 40px;
   
}
@media screen and (max-width: 1080px) {
  .milk-Produce{
      display: flex;
      flex-direction: column;  
  }

  .data-input {
      width: 100%;
      margin-bottom: 30px; 
  }

  .output{
      width: 100%;
     
  }
  
}
form > button[type = "submit-btn"], form > button[type = "reset-results"]{
  background: none;
  color: white;
  border: 1px solid white;
} 